.btn {
  border: none;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 991px){ 
    text-transform:capitalize;
  }
}
.button-circle {
  border: none;
  border: 1px solid #E7E5EA;
  border-radius: 50%;
  background-color: var(--white-color);
}