.header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.sticky {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: var(--white-color);
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px){ 
    position: relative;
  }
}
.header-navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1199px){ 
    width: 45%;
  }
  @media (max-width: 767px){ 
    position: fixed;
    display: unset;
    background-color: var(--white-color);
    width: 250px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    top: 65px;
    border-radius: 5px;
    right: -300px;
    transition-duration: 0.7s;
    opacity: 0;
    visibility: hidden;
  }
}
.header-button {
  display: flex;
  justify-content: space-between;
  width: 18%;
  min-width: 210px;
  align-items: center;
  @media (max-width: 1199px){ 
    min-width: 225px;
  }
  @media (max-width: 991px){ 
    min-width: 170px;
  }
  @media (max-width: 767px){ 
    min-width: 125px;
  }
  @media (max-width: 575px){ 
    min-width: 90px;
  }
}
.menu-mobile {
  right: 15px;
  opacity: 1;
  visibility: visible;
}
.header-navbar__item {
  text-transform: uppercase;
  color: var(--subtitle-color);
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  margin: auto;
  transition-duration: 0.3s;
  &:hover {
    color: var(--title-color);
    margin-bottom: 12px;
    @media (max-width: 991px){ 
      margin-bottom: 10px;
    }
    @media (max-width: 767px){ 
      margin-bottom: unset;
    }
    .item-hover {
      display: block;
      @media (max-width: 767px){ 
        display: none;
      }
    }
  }
  @media (max-width: 1199px){ 
    font-size: 14px;
  }
  @media (max-width: 991px){ 
    text-transform:capitalize;
  }
  @media (max-width: 767px){ 
    padding: 15px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--subtitle-color);
    transition-duration: 0.5s;
    &:hover {
      padding-left: 30px;
    }
  }
}
.item-hover {
  width: 10px;
  height: 10px;
  background-color: var(--green-color);
  border-radius: 50%;
  margin: auto;
  display: none;
  @media (max-width: 991px){ 
    width: 7px;
    height: 7px;
  }
  @media (max-width: 767px){ 
    display: none;
  }
}
.header-button__mobile {
  display: none !important;
  @media (max-width: 767px){ 
    display: block !important;
  }
}
.header-button__sign-up {
  @media (max-width: 767px){ 
    position: fixed;
    display: unset;
    margin-right: 20px;
    top: 405px;
    border-radius: 5px;
    right: -300px;
    transition-duration: 0.7s;
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
    padding: 10px 20px;
  }
}
.header-button-sign-up__mobile {
  right: 15px;
  opacity: 1;
  visibility: visible;
}
