.title-72 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 78px;
  @media (max-width: 1199px){ 
    font-size: 50px;
    line-height: 55px;
  }
  @media (max-width: 991px){ 
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  @media (max-width: 767px){ 
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 2px;
  }
  @media (max-width: 479px){ 
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1px;

  }
}
.title-64 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 500;
  @media (max-width: 1440px){ 
    font-size: 52px;
    line-height: 50px;
  }
  @media (max-width: 1199px){ 
    font-size: 46px;
    line-height: 45px;
  }
  @media (max-width: 991px){ 
    font-size: 40px;
    line-height: 42px;
  }
  @media (max-width: 767px){ 
    font-size: 36px;
    line-height: 36px;
  }
  @media (max-width: 575px){ 
    font-size: 32px;
    line-height: 35px;
  }

}
.title-48 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -2px;
  @media (max-width: 1440px){ 
    line-height: 47px;
    font-size: 36px;
  }
  @media (max-width: 1199px){ 
    line-height: 42px;
    font-size: 32px;
  }
  @media (max-width: 991px){ 
    line-height: 35px;
    font-size: 29px;
    letter-spacing: 0px;
  }
  @media (max-width: 767px){ 
    line-height: 30px;
    font-size: 24px;
  }
  @media (max-width: 575px){ 
    line-height: 28px;
    font-size: 20px;
  }
  @media (max-width: 479px){ 
    line-height: 25px;
    font-size: 18px;
  }
  @media (max-width: 375px){ 
    font-size: 16px;
  }
}
.title-36 {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -1px;
  @media (max-width: 1199px){ 
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 991px){ 
    font-size: 25px;
  }
  @media (max-width: 767px){ 
    font-size: 22px;
    line-height: 28px
  }
  @media (max-width: 575px){ 
    font-size: 18px;
  }
}
.title-42 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  @media (max-width: 1199px){ 
    font-size: 42px;
    line-height: 40px;
  }
  @media (max-width: 991px){ 
    font-size: 34px;
    line-height: 37px;
  }
  @media (max-width: 767px){ 
    font-size: 26px;
    line-height: 30px;
  }
  @media (max-width: 575px){ 
    font-size: 18px;
  }
  @media (max-width: 479px){ 
    font-size: 16px;
  }
}

.sub-title-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  @media (max-width: 1199px){ 
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: 991px){ 
    font-size: 14px;
    line-height: 20px;
  }
  @media (max-width: 479px){ 
    line-height: 17px;
  }
}
.sub-title-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @media (max-width: 991px){ 
    font-size: 14px;
    line-height: 19px;
  }
}
.sub-title-14 {
  font-weight: 400;
  font-size: 14px;
}
.sub-title-15 {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  @media (max-width: 767px){ 
    font-size: 14px;
    line-height: 20px;
  }

}
.sub-title-22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  @media (max-width: 1199px){ 
    font-size: 21px;
    line-height: 25px;
  }
  @media (max-width: 991px){ 
    font-size: 16px;
    line-height: 22px;
  }
  @media (max-width: 575px){ 
    letter-spacing: 1px;
  }
  @media (max-width: 479px){ 
    font-size: 14px;
    line-height: 18px;
  }
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
  @media (max-width: 767px){ 
    text-transform: capitalize;
  }
}