//banner
.banner {
  padding-bottom: 395px;
  position: relative;
  @media (max-width: 1440px){ 
    padding-bottom: 300px;
  }
  @media (max-width: 991px){ 
    padding-bottom: 245px;
  }
  @media (max-width: 767px){ 
    padding-bottom: 245px;
  }
}
.banner-header {
  max-width: 770px;
  margin: auto;
  @media (max-width: 1199px){ 
    max-width: 520px;
  }
  @media (max-width: 991px){ 
    max-width: 385px;
  }
  @media (max-width: 479px){ 
    max-width: 100%;
  }
}
.banner-header__title {
  padding-bottom: 40px;
  @media (max-width: 479px){ 
    max-width: 305px;
    margin: auto;
  }
}
.banner-header__subtitle {
  margin: auto;
  max-width: 500px;
  padding-bottom: 70px;
  @media (max-width: 1199px){ 
    max-width: 400px;
  }
  @media (max-width: 479px){ 
    max-width: 380px;
  }
}
.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-button__book-now {
  margin-right: 10px;
}
.banner-button__play {
  margin-right: 7px;
  transition-duration: 0.3s;
  &:hover {
    box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
  }
}
.box__banner {
  display: flex;
  position: absolute;
  > img {
    width: 100%;
  }
}
.banner-image1 {
  width: 250px;
  height: 250px;
  top: 35%;
  left: 10%;
  &::after {
    width: 80px;
    height: 80px;
    background-color: var(--purple-color);
    bottom: 0;
    right: -90px;
  }
  @media (max-width: 1600px){ 
    width: 210px;
    height: 210px;
    left: 4%;
    &::after {
      width: 60px;
      height: 60px;
      right: -70px;
    }
  }
  @media (max-width: 1440px){ 
    width: 180px;
    height: 180px;
    left: 4%;
    &::after {
      width: 50px;
      height: 50px;
      right: -60px;
    }
  }
  @media (max-width: 1199px){ 
    width: 150px;
    height: 150px;
    left: 4%;
    &::after {
      width: 40px;
      height: 40px;
      right: -45px;
    }
  }
  @media (max-width: 991px){ 
    width: 110px;
    height: 110px;
    left: 4%;
    &::after {
      width: 30px;
      height: 30px;
      right: -35px;
    }
  }
  @media (max-width: 767px){ 
    width: 90px;
    height: 90px;
    top: 63%;
    &::after {
      width: 20px;
      height: 20px;
      right: -25px;
    }
  }
}
.banner-image2 {
  width: 170px;
  height: 170px;
  bottom: 10%;
  left: 30%;
  &::after {
    width: 60px;
    height: 60px;
    background-color: var(--turquoise-color);
    bottom: 0;
    left: -70px;
  }
  @media (max-width: 1440px){ 
    width: 150px;
    height: 150px;
    bottom: 10%;
    left: 30%;
    &::after {
      width: 50px;
      height: 50px;
      bottom: 0;
      left: -60px;
    }
  }
  @media (max-width: 1199px){ 
    width: 120px;
    height: 120px;
    bottom: 10%;
    left: 30%;
    &::after {
      width: 40px;
      height: 40px;
      bottom: 0;
      left: -45px;
    }
  }
  @media (max-width: 991px){ 
    width: 90px;
    height: 90px;
    bottom: 10%;
    left: 30%;
    &::after {
      width: 20px;
      height: 20px;
      bottom: 0;
      left: -25px;
    }
  }
  @media (max-width: 767px){ 
    bottom: 3%;
    left: 25%;
  }
  @media (max-width: 479px){ 
    left: 18%;
  }
  @media (max-width: 375px){ 
    left: 15%;
  }
}
.banner-image3 {
  width: 200px;
  height: 200px;
  bottom: 27%;
  left: 68%;
  &::after {
    width: 70px;
    height: 70px;
    background-color: var(--blue-color);
    bottom: 0;
    left: -80px;
  }
  @media (max-width: 1440px){ 
    width: 150px;
    height: 150px;
    bottom: 27%;
    left: 73%;
    &::after {
      width: 50px;
      height: 50px;
      bottom: 0;
      left: -60px;
    }
  }
  @media (max-width: 1199px){ 
    width: 120px;
    height: 120px;
    bottom: 20%;
    left: 73%;
    &::after {
      width: 40px;
      height: 40px;
      bottom: 0;
      left: -45px;
    }
  }
  @media (max-width: 991px){ 
    width: 100px;
    height: 100px;
    bottom: 20%;
    left: 73%;
    &::after {
      width: 30px;
      height: 30px;
      bottom: 0;
      left: -35px;
    }
  }
  @media (max-width: 767px){ 
    width: 90px;
    height: 90px;
    bottom: 8%;
    left: 60%;
    &::after {
      width: 20px;
      height: 20px;
      bottom: 0;
      left: -25px;
    }
  }
  @media (max-width: 479px){ 
    bottom: 7%;
    left: 56%;
  }
  @media (max-width:375px){ 
    bottom: 5%;
    left: 60%;
  }
}
.banner-image4  {
  width: 150px;
  height: 150px;
  top: 30%;
  right: 10%;
  &::after {
    width: 60px;
    height: 60px;
    background-color: var(--pink-color);
    bottom: 0;
    right: -70px;
  }
  @media (max-width: 1440px){ 
    width: 120px;
    height: 120px;
    top: 30%;
    right: 10%;
    &::after {
      width: 40px;
      height: 40px;
      bottom: 0;
      right: -50px;
    }
  }
  @media (max-width: 1199px){ 
    width: 100px;
    height: 100px;
    top: 30%;
    right: 5%;
    &::after {
      width: 30px;
      height: 30px;
      bottom: 0;
      right: -35px;
    }
  }
  @media (max-width: 991px){ 
    width: 80px;
    height: 80px;
    top: 30%;
    right: 5%;
    &::after {
      width: 20px;
      height: 20px;
      bottom: 0;
      right: -25px;
    }
  }
  @media (max-width: 767px){ 
    width: 90px;
    height: 90px;
    top: 63%;
    right: 8%;
  }
}

//services
.services-content {
  position: relative;
  padding-bottom: 50px;
  &::after {
    width: 60px;
    height: 60px;
    background-color: var(--blue-color);
    bottom: 50px;
    right: -70px;
  }
  @media (max-width: 1440px){ 
    &::after {
      right: 20px;
      top: -73px;
    }
  }
  @media (max-width: 767px){ 
    &::after {
      width: 40px;
      height: 40px;
      top: -45px;
    }
    .row {
      justify-content: center;
    }
  }
}
.service-item__header {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
  }
  > i {
    font-size: 40px;
  }
}
.services-header__title {
  max-width: 800px;
  margin: auto;
  padding-bottom: 30px;
  @media (max-width: 1440px){ 
    max-width: 580px;
  }
  @media (max-width: 1199px){ 
    max-width: 515px;
  }
  @media (max-width: 767px){ 
    max-width: 450px;
  }
}
.services-header__subtitle {
  padding-bottom: 80px;
}
.item__content {
  @media (max-width: 575px){ 
    width: 100%;
  }
}
.services-content__item {
  padding: 42px 55px 64px 45px;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition-duration: 0.3s;
  &:hover {
    border: unset;
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  }
  @media (max-width: 991px){ 
    padding: 42px 20px 64px 20px;
  }
  @media (max-width: 767px){ 
    margin-bottom: 20px;
  }
}
.services-button {
  display: flex;
  justify-content: center;
}

//partner
.partner-header {
  padding-bottom: 80px;
}
.partner-content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px){ 
    margin-bottom: 20px;
  }
}

//office
.office {
  max-width: 1300px !important;
  padding: 100px 65px !important;
  border-radius: 20px;
  margin-top: 90px !important;
  @media (max-width: 1440px){ 
    padding: 100px 57px !important;
  }
  @media (max-width: 991px){ 
    padding: 100px 40px !important;
  }
  @media (max-width: 767px){ 
    padding: 70px 30px !important;
  }
  @media (max-width: 575px){ 
    padding: 70px 15px !important;
  }
  @media (max-width: 479px){ 
    padding: 55px 15px !important;
  }
}
.office-item {
  display: flex;
  align-items: flex-start;
  @media (max-width: 991px){ 
    padding-top: 20px;
  }
}
.office-item__icon {
  width: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    z-index: 2;
    margin-top: 25px;
    @media (max-width: 767px){ 
      padding-top: 12px;
    }
  }
  &::before {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 3px;
  }
  @media (max-width: 1199px){ 
    &::before {
      width: 70px;
      height: 70px;
    }
  }
  @media (max-width: 767px){ 
    width: 110px;
    height: 40px;
  }
}
.office-item__content {
  margin-left: 30px;
}
.office-item-content__title {
  padding-bottom: 10px;
}

//featured
.featured-left__img {
  position: relative;
  > img {
    border-radius: unset;
    width: 670px;
  }
  &::after {
    width: 80px;
    height: 80px;
    background-color: var(--turquoise-color);
    bottom: 3px;
    left: -90px;
  }
  @media (max-width: 1440px){ 
    &::after {
      width: 50px;
      height: 50px;
      bottom: unset;
      top: -55px;
      left: 0;
    }
  }
  @media (max-width: 767px){ 
    &::after {
      width: 40px;
      height: 40px;
      top: -45px;
    }
  }
}
.featured-left__title {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px){ 
    flex-wrap: wrap;
  }
}
.featured-left__subtitle {
  max-width: 570px;
}
.featured-right {
  padding-left: 100px;
  padding-top: 62px;
  @media (max-width: 1199px){ 
    padding-top: 45px;
    padding-left: 70px;
  }
  @media (max-width: 991px){ 
    padding-left: 20px;
  }
  @media (max-width: 767px){ 
    padding-left: 0px;
    padding-top: 20px;
  }
}
.featured-right__title {
  padding-bottom: 40px;
}
.featured-right__subtitle  {
  padding-bottom: 60px;
}
.featured-right__link {
  padding-bottom: 80px;
  @media (max-width: 1199px){ 
    padding-bottom: 60px;
  }
  @media (max-width: 991px){ 
    padding-bottom: 35px;
  }
}
.featured-right__button--item {
  transition-duration: 0.3s;
  > i {
    font-size: 22px;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    > i {
      color: var(--title-color) !important;
    }
  }
}

//space 
.space {
  padding-top: 110px;
  padding-bottom: 266px;
  @media (max-width: 1199px){ 
    padding-top: 80px;
    padding-bottom: 210px;
  }
  @media (max-width: 767px){ 
    padding-top: 80px;
    padding-bottom: 170px;
  }
    @media (max-width: 575px){ 
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
.space__wrap {
  padding-top: 110px;
  padding-bottom: 266px;
  @media (max-width: 1199px){ 
    padding-top: 80px;
    padding-bottom: 210px;
  }
  @media (max-width: 767px){ 
    padding-top: 80px;
    padding-bottom: 170px;
  }
    @media (max-width: 575px){ 
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
.space-header {
  max-width: 870px;
  margin: auto;
  text-align: center;
  @media (max-width: 1199px){ 
    max-width: 560px;
  }
  @media (max-width: 767px){ 
    max-width: 420px;
  }
  @media (max-width: 645px){ 
    max-width: 380px;
  }
  @media (max-width: 479px){ 
    max-width: 290px;
  }
}
.space-content {
  position: relative;
  margin-top: 80px;
  &::after {
    width: 100px;
    height: 100px;
    background-color: var(--purple-color);
    bottom: -146px;
    right: -110px;
  }
  @media (max-width: 1440px){ 
    &::after {
      width: 80px;
      height: 80px;
      bottom: unset;
      right: 35px;
      top: 55px;
    }
  }
  @media (max-width: 1199px){ 
    &::after {
      width: 50px;
      height: 50px;
      bottom: unset;
      top: 45px;
    }
  }
  @media (max-width: 991px){ 
    &::after {
      top: 35px;
    }
  }
  @media (max-width: 767px){ 
    margin-top: 60px;
    &::after {
      top: -5px;
      right: 10px;
    }
  }
  @media (max-width: 645px){ 
    &::after {
      width: 50px;
      height: 50px;
      top: 20px;
      right: 10px;
    }
  }
  @media (max-width: 575px){ 
    &::after {
      display: none;
    }
  }
}
.flexble {
  padding: 0 100px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: var(--white-color);
  max-width: 570px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 60px 40px rgba(18, 2, 47, 0.1);
  border-radius: 20px;
  z-index: 2;
  &::after {
    width: 70px;
    height: 70px;
    background-color: var(--yellow-color);
    bottom: 56%;
    right: -80px;
  }
  @media (max-width: 1440px){ 
    max-width: 492px;
    padding: 60px;
    &::after {
      bottom: 62%;
      right: -75px;
    }
  }
  @media (max-width: 1199px){ 
    max-width: 425px;
    &::after {
      width: 50px;
      height: 50px;
      right: -55px;
    }
  }
  @media (max-width: 991px){ 
    padding: 30px;
    max-width: 345px;
  }
  @media (max-width: 767px){ 
    padding: 15px;
    max-width: 250px;
    &::after {
      bottom: 65%;
    }
  }
  @media (max-width: 645px){ 
    &::after {
      width: 40px;
      height: 40px;
      right: -45px;
    }
  }
  @media (max-width: 575px){ 
    width: 100%;
    max-width: unset;
    margin-bottom: 20px;
    &::after {
      right: 5px;
      bottom: unset;
      top: 5px;
    }
  }
}
.flexble__slice {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  @media (max-width: 767px){ 
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .flexble__slice--item {
    width: 45px;
    height: 5px;
    border-radius: 20px;
    margin-right: 5px;
    &:first-child {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 5px;
        background-color: var(--blue-color);
        top: 0;
        left: 0;
        border-radius: 20px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.flexble__image {
  position: absolute;
  @media (max-width: 575px){ 
    position: static;
  }
}
.big-image {
  right: 0;
  bottom: -146px;
  @media (max-width: 1199px){ 
    width: 785px;
    bottom: -85px;
  }
  @media (max-width: 991px){ 
    width: 645px;
  }
  @media (max-width: 767px){ 
    width: 540px;
  }
  @media (max-width: 645px){ 
    width: 460px;
    bottom: -60px;
  }
  @media (max-width: 575px){ 
    width: 100%;
    margin-bottom: 20px;
  }
}
.small-image {
  top: 127px;
  right: 68px;
  z-index: 2;
  > img {
    border-radius: 20px;
  }
  @media (max-width: 1440px){ 
    width: 380px;
    top: 145px;
    right: 62px;
  }
  @media (max-width: 1199px){ 
    width: 300px;
    top: 100px;
  }
  @media (max-width: 991px){ 
    width: 279px;
    top: 92px;
    right: 55px;
  }
  @media (max-width: 767px){ 
    width: 230px;
    top: 55px;
    right: 45px;
  }
  @media (max-width: 645px){ 
    top: 74px;
    right: 23px;
  }
  @media (max-width: 575px){ 
    width: 100%;
    margin-bottom: 20px;
    > img {
      width: 100%;
    }
  }
}

//location
.location-title {
    max-width: 955px;
  margin: auto;
  @media (max-width: 991px){ 
    max-width: 585px;
  }
  @media (max-width: 575px){ 
    max-width: 415px;
  }
}
.location-item__img {
  position: relative;
  > img {
    width: 100%;
    border-radius: 0;
  }
  &::after {
    width: 80px;
    height: 80px;
    background-color: var(--blue-color);
    bottom: 3px;
    left: -90px;
    @media (max-width: 1440px){ 
      width: 60px;
      height: 60px;
      top: -65px;
      left: 16px;
    }
    @media (max-width: 575px){ 
      width: 40px;
      height: 40px;
      top: -45px;
    }
  }
}

//setup
.setup {
  padding-top: 120px;
  position: relative;
  height: 793px;
  @media (max-width: 1440px){ 
    height: 765px;
  }
  @media (max-width: 1199px){ 
    height: 625px;
    padding-top: 90px;
  }
  @media (max-width: 991px){ 
    height: 595px;
  }
  @media (max-width: 767px){ 
    height: 545px;
    padding-top: 80px;
  }
}
.setup-content {
  display: flex;
  justify-content: center;
  align-items: center
}
.setup-content__title {
  margin-right: 16px;
}
.setup-content__switch {
  margin-right: 16px;
}
.setup-content__save {
  padding: 4px 12px;
  font-size: 14px;
  max-width: 85px;
  border-radius: 5px;
  margin-right: 16px;
  line-height: 24px;
  @media (max-width: 479px){ 
    padding: 4px 5px;
  }
}
.setup-box {
  transform: translateY(115px);
  @media (max-width: 1199px){ 
    transform: translateY(85px);
  }
  @media (max-width: 767px){ 
    transform: translateY(75px);
  }
  @media (max-width: 479px){ 
    .col-xs-6 {
      margin-bottom: 20px;
    }
  }
}
.setup-box__item {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 35px 100px;
  padding-bottom: 58px;
  border: 1px solid #E7E5EA;
  position: relative;
  @media (max-width: 1199px){ 
    padding: 35px 65px;
  }
  @media (max-width: 991px){ 
    padding: 20px 30px;
  }
  @media (max-width: 767px){ 
    padding: 15px;
  }
  @media (max-width: 479px){ 
    padding: 25px;
  }
  &::after {
    width: 70px;
    height: 70px;
    background-color: var(--yellow-color);
    top: 0;
    right: -75px;
    @media (max-width: 1440px){ 
      width: 50px;
      height: 50px;
      top: -58px;
      right: 0px;
    }
    @media (max-width: 575px){ 
      top: 5px;
      right: 5px;
    }
  }
}
.setup-item__header {
  max-width: 275px;
  margin: auto;
}
.setup-condition {
  display: flex;
  padding-bottom: 15px;
}
.setup-condition__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--blue-color);
    opacity: 0.1;
    z-index: 1;
    @media (max-width: 575px){ 
      width: 20px;
      height: 20px;
    }
  }
  > i {
    position: relative;
    z-index: 5;
    @media (max-width: 767px){ 
      font-size: 14px;
    }
    @media (max-width: 575px){ 
      font-size: 10px;
    }
  }
}
.setup-condition__title {
  padding-left: 16px;
  @media (max-width: 767px){ 
    padding-left: 12px;
  }
}
.setup-box__footer{
  display: block;
  padding: 18px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  @media (max-width: 575px){ 
    margin-bottom: 30px;
  }
}

//workspace
.workspace {
  margin-top: 455px !important;
  @media (max-width: 767px){ 
    margin-top: 300px !important;
  }
  @media (max-width: 575px){ 
    margin-top: 820px !important;
  }
}
.workspace__header {
  max-width: 780px;
  margin: auto;
  @media (max-width: 1440px){ 
    max-width: 730px;
  }
  @media (max-width: 991px){ 
    max-width: 565px;
  }
  @media (max-width: 991px){ 
    max-width: 485px;
  }
}
.workspace__footer {
  display: flex;
  justify-content: center;
}

//aboutUs
.aboutUs {
  padding: 120px 0;
  @media (max-width: 767px){ 
    margin-top: 80px;
    padding: 60px 0;
  }
}
.about-header__title {
  padding-bottom: 30px;
  @media (max-width: 767px){ 
    margin-bottom: 20px
  }
}
.aboutUs-content {
  .row {
    @media (max-width: 767px){ 
      justify-content: center;
    }
    .col-xs-12:first-child {
      .aboutUs-content__item {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 70px;
          height: 70px;
          background-color: var(--blue-color);
          top: 0;
          left: -80px;
          @media (max-width: 1440px){ 
            width: 50px;
            height: 50px;
            top: -60px;
            left: 0px;
          }
        }
      }
    }
  }
}
.aboutUs-content__item {
  padding: 35px;
  padding-bottom: 45px;
  border-radius: 20px;

  @media (max-width: 1199px){ 
    padding: 35px;
    padding-bottom: 45px;
  }
  @media (max-width: 991px){ 
    padding: 35px;
    padding-bottom: 45px;
  }
  @media (max-width: 767px){ 
    margin-bottom: 20px;
  }
}
.aboutUs-content-item__info {
  padding-bottom: 20px;
  @media (max-width: 991px){ 
    padding-bottom: 10px;
  }
}
.aboutUs-content-item__info--subtitle {
  padding-bottom: 20px;
  @media (max-width: 991px){ 
    padding-bottom: 10px;
  }
}