.product-sidebar-category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  margin-bottom: 27px;
}
.product-sidebar-category__content {
  padding-top: 30px;
  border-top: 1px solid #E7E5EA;
}
.category-content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.sc-content__item--second-side-bar {
  padding-left: 15px;
  margin-top: 26px;
  width: 100%;
}
.item-left__title {
  margin-left: 10px;
}
.sc-content__footer {
  display: flex;
  justify-content: space-between;
}
.sc-content__footer--price, .sc-content__footer-filter {
  text-transform: uppercase;
}

.product__list--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}
.product__list--content {
  padding-top: 30px;
  border-top: 1px solid #E7E5EA;
}
.p-header__select {
  width: 210px;
  margin-top: 0px;
}
.p-header__item-text {
  text-align: center;
}
.p-text__subtitle {
  margin-top: 15px;
}
.product__list--pagination {
  padding-top: 40px;
  border-top: 1px solid #E7E5EA;
}


